<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @talk.topic %>
</p>

<p>
  <strong>From:</strong>
  <%= @talk.from %>
</p>

<%= link_to 'Edit', edit_talk_path(@talk) %> |
<%= link_to 'Back', talks_path %>
